.popup__input_type_file {
   display: none;
    /* background-image: url(../../../../images/Ellipse\ 44.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 163px 163px;
    width: 163px;
    height: 163px;
    position: relative; */
}