.page {
    background-color: #FFF;
    font-family: 'Inter', sans-serif;
    max-width: 1280px;
    min-height: 100vh;
    margin: 0 auto;
}

@media (max-width: 1300px) {
    .page {
        max-width: 550px;
    }
}

@media (max-width: 900px) {
    .page {
        max-width: 320px;
    }
}